* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  top: 0;
  background-color: #fff;

}

body {}

/* LAYOUT */

.container {
  padding-top: 60px;
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.row-100 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col {
  width: calc(100% / 3 - 20px);
}


/* HEADER */




.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left ul,
.right ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.banner img {
  flex-wrap: wrap;
  vertical-align: middle;
  height: 24px;
  margin-right: 20px;
}


/* CONTAINER JUMBO */

.jumbo {
  display: flex;
  margin-top: 70px;
  height: 600px;
}

.jumbo h1 {
  font-size: 60px;
  width: 800px;
  font-weight: 800;
  padding-bottom: 40px;
}

.jumbo-img img {
  width: 750px;
}

.jumbo-txt p {
  margin: 15px auto;
}

.arrow {
  margin-top: 30px;
  margin-left: 5px;
  font-size: 40px;
}

/* BUSINESS PLAN */

.business-plan {
  display: flex;
  margin-top: 100px;
  border-top: 1px solid #dfe4e9;

}

.business-plan-2 {
  display: flex;
}


.business-plan h1 {
  font-size: 40px;
  width: 800px;
  font-weight: 800;
  padding-bottom: 40px;

}

.col p {
  padding: 5px 0;
  margin: 5px 0;
}

.circle {
  height: 15px;
  width: 15px;
  border: 4px solid blue;
  border-radius: 50%;
  display: inline-flex;
  vertical-align: middle;
}

.b-gray {
  border: 3px solid #dfe4e9;
}

.buttons {
  display: flex;
  margin-bottom: 30px;
}

.product {
  display: inline-block;
  width: 1000px;
}

.product-2 {
  display: flex;
  justify-content: center;
}

.sm-banner {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dfe4e9;
}

.sm-banner-txt {
  margin: 20px 30px;
  height: 850px;
}


.sm-banner-txt h3 {
  margin: 15px 0;
}

.sm-banner-txt strong {
  margin: 20px 0;
}

.button {
  margin-right: 50px;
}

.line-border {
  border-top: 1px solid #dfe4e9;
  width: 60px;
  margin-bottom: 20px;
}

.line-border-bot {
  border-bottom: 1px solid #dfe4e9;
  padding: 10px;
}

.m-20 {
  margin: 40px 0;
}

.m-20 p {
  margin: 10px 0;
}

.col-1000 {
  padding: 0 20px;
  padding-top: 30px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.col-1000-2 {
  margin: 20px 20px 40px;
}

.mt-30 {
  margin-top: 30px;
}



/* PARTNER */

.partner {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.partner-row {
  display: flex;
  height: 600px;
  width: 1000px;
}

.partner-img {
  width: 70%;
  align-content: center;
}

.partner-txt {
  width: 30%;
  text-align: left;
  margin: 70px 40px;
}

.partner-txt h2 {
  padding: 30px 0;
}

.partner-txt .btn {
  align-content: center;
  margin: 40px 0;
  width: 150px;
  color: black;
  border: 1px solid black;
  background-color: #fff;
}

.partner-txt .btn:hover {
  background-color: #d4d3d3;
  cursor: pointer;
}

.partner-img img {
  width: 100%;
}

/* CONTAINER DA SEI */

.grid {
  display: flex;
}

.card {
  padding: 50px;
}

.card p {
  margin-top: 20px;
}

.col .card img {
  width: 100%;
}

/* CONTAINER H1 E LINK */


/* CONTENT */

.flex {
  flex-wrap: wrap;
}


.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.b-1px {
  border: 1px solid black;
}

.b-1-gray {
  border: 1px solid #dfe4e9;
}

.b-1px-gray {
  border-top: 1px solid #dfe4e9;
}


.text-right {
  text-align: right;
}

.btn {
  text-align: center;
  padding: 7px;
  color: #fff;
  background-color: #0061fe;
}

.btn:hover {
  background-color: #0248b9;
  cursor: pointer;
}



/* WIDTHS */

.h-600 {
  height: 600px;
}

.w-140 {
  width: 205px;
}

.w-100 {
  width: 100px;
}



.w-700 {
  width: 700px;
}

.w-100x {
  width: 100%;
}

/* COLORS */

.clr-gray {
  color: lightgray;
}

.clr-blue {
  color: #0061fe;
}

.bg-silver {
  background-color: gray;
}

.bg-gold {
  background-color: goldenrod;
}

.bg-blue {
  background-color: blue;
}

.bg-lightblue {
  background-color: #b4d0e6;
}

.bg-blue-btn {
  background-color: #0061fe;
}