* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  top: 0;
  background-color: #fff;

}

body {}

/* LAYOUT */

.container {
  padding-top: 100px;
  margin: 60px auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  width: calc(100% / 3 - 20px);
}

/* HEADER */




.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left ul,
.right ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.banner img {
  flex-wrap: wrap;
  vertical-align: middle;
  height: 24px;
  margin-right: 20px;
}


/* CONTAINER JUMBO */

.jumbo {
  flex-wrap: wrap;
  display: flex;
  margin-top: 70px;
  height: 700px;
}

.jumbo h1 {
  font-size: 60px;
  width: 800px;
  font-weight: 800;
}

.jumbo-img img {
  width: 1000px;
}

/* CONTENT */

.flex {
  flex-wrap: wrap;
}


.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.b-1px {
  border: 1px solid black;
}

.text-right {
  text-align: right;
}

.btn {
  padding: 5px 10px;
  color: #fff;
  background-color: #0061fe;
}

.btn:hover {
  background-color: #0248b9;
  cursor: pointer;
}

/* WIDTHS */

.w-100 {
  width: 100px;
}

/* COLORS */

.bg-silver {
  background-color: gray;
}

.bg-gold {
  background-color: goldenrod;
}

.bg-blue {
  background-color: blue;
}

.bg-lightblue {
  background-color: #b4d0e6;
}

.bg-blue-btn {
  background-color: #0061fe;
}